<?xml version="1.0" encoding="UTF-8"?>
<config>
	<route>
		<body>
			<httpMethod>get</httpMethod>
			<service>student</service>
			<api>getStudent</api>
			<keyName>firstName</keyName>
			<keyLowerValue>a</keyLowerValue>
			<keyUpperValue>c</keyUpperValue>
			<ip>127.0.0.1</ip>
			<port>7000</port>
			<redirectAll>0</redirectAll>
		</body>
	</route>
	<route>
		<body>
			<httpMethod>get</httpMethod>
			<service>student</service>
			<api>getStudent</api>
			<keyName>firstName</keyName>
			<keyLowerValue>a</keyLowerValue>
			<keyUpperValue>c</keyUpperValue>
			<ip>127.0.0.1</ip>
			<port>9000</port>
			<redirectAll>0</redirectAll>
		</body>
	</route>
	<route>
		<body>
			<httpMethod>post</httpMethod>
			<service>student</service>
			<api>addColumn</api>
			<keyName>firstName</keyName>
			<keyLowerValue>a</keyLowerValue>
			<keyUpperValue>c</keyUpperValue>
			<ip>127.0.0.1</ip>
			<port>7000</port>
			<redirectAll>1</redirectAll>
		</body>
	</route>
	<route>
		<body>
			<httpMethod>post</httpMethod>
			<service>student</service>
			<api>addColumn</api>
			<keyName>firstName</keyName>
			<keyLowerValue>a</keyLowerValue>
			<keyUpperValue>c</keyUpperValue>
			<ip>127.0.0.1</ip>
			<port>9000</port>
			<redirectAll>1</redirectAll>
		</body>
	</route>
</config>