<?xml version="1.0" encoding="UTF-8"?>
<config>
	<route>
		<body>
			<httpMethod>post</httpMethod>
			<service>student</service>
			<api>add</api>
			<keyName>firstname</keyName>
			<keyLowerValue>a</keyLowerValue>
			<keyUpperValue>c</keyUpperValue>
			<ip>192.168.99.100</ip>
			<port>42000</port>
			<redirectAll>0</redirectAll>
		</body>
	</route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>add</api>
            <keyName>firstname</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>43000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>add</api>
            <keyName>firstname</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>44000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>get</httpMethod>
            <service>student</service>
            <api>info</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>42000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>get</httpMethod>
            <service>student</service>
            <api>info</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>43000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>get</httpMethod>
            <service>student</service>
            <api>info</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>44000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>update</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>42000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>update</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>43000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>update</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>44000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>deleteSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>42000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>deleteSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>43000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>deleteSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>44000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>addSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>42000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>addSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>43000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>student</service>
            <api>addSchema</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>c</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>44000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>course</service>
            <api>add</api>
            <keyName>coursename</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>course</service>
            <api>addStudentToCourse</api>
            <keyName>courseID</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>get</httpMethod>
            <service>course</service>
            <api>info</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>get</httpMethod>
            <service>course</service>
            <api>getStudentsInCourse</api>
            <keyName>courseID</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>delete</httpMethod>
            <service>course</service>
            <api>delete</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>delete</httpMethod>
            <service>course</service>
            <api>deleteStudentFromCourse</api>
            <keyName>courseID</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>course</service>
            <api>update</api>
            <keyName>id</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>0</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>course</service>
            <api>deleteSchema</api>
            <keyName>schema</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
    <route>
        <body>
            <httpMethod>post</httpMethod>
            <service>course</service>
            <api>addSchema</api>
            <keyName>schema</keyName>
            <keyLowerValue>a</keyLowerValue>
            <keyUpperValue>z</keyUpperValue>
            <ip>192.168.99.100</ip>
            <port>41000</port>
            <redirectAll>1</redirectAll>
        </body>
    </route>
</config>